.idea/
venv/
**/*.pyc

examples/*.log
data/flight_delay.csv.gz
**/*.so
build/
python-package/.eggs/
python-package/dist/
python-package/microgbtpy.egg-info/
cmake-build-debug/
pybind11/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
